# Core libraries
playwright==1.52.0
rich>=13.3.5
tqdm>=4.66.1
python-dotenv>=0.9.0
flask-socketio>=5.5.1
eventlet>=0.33.0

# Optional CAPTCHA visual bypass
seleniumbase>=4.38.0

# File handling
pypdf2>=3.0.1
pandas>=2.1.4
lxml>=4.9.3
beautifulsoup4>=4.12.3
pytesseract>=0.3.13
pdf2image>=1.17.0
pdfplumber>=0.11.6
fitz>=0.0.1.dev2
# For JSON and structured parsing
jsonlines>=4.0.0

# For browser fingerprint masking (via Playwright)
fake-useragent>=1.5.1

# CLI-friendly argument parsing (if used in future)
click>=8.1.7

# flask-login for user session management, is not used in the current version
# optional future implementation
# flask-login>=0.6.2

# flask-wtf for form handling, is not used in the current version
# optional future implementation
# flask-wtf>=1.0.0